/*Fonts*/
.f-guardian {
	font-family: 'guardian';
}

.preview-container {
	background-image: url(https://e0.pxfuel.com/wallpapers/566/538/desktop-wallpaper-star-trek-voyager.jpg);
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.content-section {
	background-color: transparent;
}

.carousel-container {
	background-color: rgb(0, 0, 0);
	height: 100vh;
}

.dropdown-item:hover {
	background-color: transparent !important;

}

.nav-link {
	transition: 0.3s !important;
}

.nav-link:hover {
	opacity: 50% !important;
}

.search-container {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 4px 2px;

	vertical-align: top;
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%
}

.search {
	position: absolute;
	margin-top: 5px;
	/* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;

}

.expandright {
	left: auto;
	right: 49px;
	/* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;

}

.search:focus+.searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px;
	/* Bar width+1px */
	padding: 0 16px 0 0;
}